<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div class="project-component-holder">
  <h2>ngx-ttitan-color-picker </h2>
  <div>
    <button (click)="generateColorPickers()"> RE generate</button>
  </div>
  <div
    class="color-picker-holder" *ngFor="let colorPicker of colorPickers; let i = index"
    style="display: flex;"
  >
    <div style="flex: 0 0 50%; width: 239px;">
      <lib-ngx-ttitan-color-picker
        [pickerOpen]="true"
        (colorChanged)="colorChange($event, i)"
        [outFormat]="colorPicker.output"
        [inputFormat]="colorPicker.input"
        [color]="colorPicker.color"
        [title]="'Color: ' + i"
        [alpha]="colorPicker.alpha"
        [debug]="colorPicker.debug"
      ></lib-ngx-ttitan-color-picker>
    </div>

    <div style="flex: 0 0 50%; display: flex; justify-content: center; align-items: center">
      <svg
        [ngStyle]="{'stroke': colorPicker.color, 'fill': colorPicker.color}"
        style="width: 50px; height: 50px; cursor: inherit;"
        version="1.1"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
           preserveAspectRatio="xMidYMid">
        <circle cx="50" cy="50"
                stroke="none" r="30" fill="none"  stroke-width="10"></circle>
        <circle cx="50" cy="50"
                fill="none" r="30"
                stroke-width="10" stroke-linecap="square" transform="rotate(20 50 50)">
          <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;180 50 50;720 50 50"
                            keyTimes="0;0.5;1" dur="1.5s" begin="0s" repeatCount="indefinite"></animateTransform>
          <animate attributeName="stroke-dasharray" calcMode="linear"
                   values="18.84955592153876 169.64600329384882;94.2477796076938 94.24777960769377;18.84955592153876 169.64600329384882"
                   keyTimes="0;0.5;1" dur="1.5" begin="0s" repeatCount="indefinite"></animate>
        </circle>
      </svg>
      <svg
        [ngStyle]="{'stroke': colorPicker.color, 'fill': colorPicker.color}"
        style="width: 50px; height: 50px; cursor: inherit;"
        version="1.1"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
           preserveAspectRatio="xMidYMid">
        <circle cx="50" cy="50"
                stroke="none" r="30" fill="none"  stroke-width="10"></circle>
        <circle cx="50" cy="50"
                fill="none" r="30"
                stroke-width="10" stroke-linecap="square" transform="rotate(20 50 50)">
          <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;180 50 50;720 50 50"
                            keyTimes="0;0.5;1" dur="1.5s" begin="0s" repeatCount="indefinite"></animateTransform>
          <animate attributeName="stroke-dasharray" calcMode="linear"
                   values="18.84955592153876 169.64600329384882;94.2477796076938 94.24777960769377;18.84955592153876 169.64600329384882"
                   keyTimes="0;0.5;1" dur="1.5" begin="0s" repeatCount="indefinite"></animate>
        </circle>
      </svg>
      <svg
        [ngStyle]="{'stroke': colorPicker.color, 'fill': colorPicker.color}"
        style="width: 50px; height: 50px; cursor: inherit;"
        version="1.1"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
           preserveAspectRatio="xMidYMid">
        <circle cx="50" cy="50"
                stroke="none" r="30" fill="none"  stroke-width="10"></circle>
        <circle cx="50" cy="50"
                fill="none" r="30"
                stroke-width="10" stroke-linecap="square" transform="rotate(20 50 50)">
          <animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;180 50 50;720 50 50"
                            keyTimes="0;0.5;1" dur="1.5s" begin="0s" repeatCount="indefinite"></animateTransform>
          <animate attributeName="stroke-dasharray" calcMode="linear"
                   values="18.84955592153876 169.64600329384882;94.2477796076938 94.24777960769377;18.84955592153876 169.64600329384882"
                   keyTimes="0;0.5;1" dur="1.5" begin="0s" repeatCount="indefinite"></animate>
        </circle>
      </svg>
    </div>
  </div>
</div>


